body {
    background-color: #dedede;
    margin: 0;
}

.container {
    border-radius: 1px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .img {
    width: 85%;
    flex-grow: 1;
}

.item .img svg,
.item .img img {
    height: auto;
    width: 100%;
}

.item .text {}